.main {
  background: url("../../public/rinson-chory-2vPGGOU-wLA-unsplash.jpg")
    no-repeat center;
  background-size: cover;
  min-height: 818px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 76px 0 20px 0;
}

.p {
  background-color: rgba(255, 255, 255, 0.6);
  width: max-content;
  padding: 2px 8px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.p:hover {
  background-color: white;
  box-shadow: 0 0 4px black;
}

.a {
  text-decoration: underline;
}
