.main {
  display: flex;
  gap: 4px;
  flex-direction: column;
  padding: 8px 32px 0 32px;
  min-width: 1180px;
}

.header {
  border-bottom: 2px solid black;
  box-shadow: 0 8px 8px -8px black;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.shipBtn {
  width: 70px;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}

.shipBtn:active {
  filter: invert(100);
}

.shipBtn:hover {
  box-shadow: 0 0 4px black;
}
